In [2]:
import pandas as pd
df = pd.read_csv('json_csv_2.csv',sep='\t')
df.head()

,age,high school age,coding skills,hobby,married,name
0,24,15,"['python', 'matlab', 'java', 'c', 'c++', 'ruby...","['sports', 'reading']",False,echo
1,34,15,"['python2', 'matlab2', 'java2', 'c2', 'c++2', ...","['sports', 'reading']",False,echo2

In [5]:
df.groupby('name').count()

       age  high school age  coding skills  hobby  married
name
echo     1                1              1      1        1
echo2    1                1              1      1        1

In [8]:
python -v

NameError: name 'python' is not defined

In [11]:
%ls

 驱动器 C 中的卷是 Windows
 卷的序列号是 781C-54BE

 C:\Users\Zhenqi\py_script 的目录

2018/01/05  01:19               786  django.ipynb
2018/03/04  23:11    <DIR>          .
2018/03/04  23:11    <DIR>          ..
2018/03/04  19:58    <DIR>          .ipynb_checkpoints
2018/02/22  22:37    <DIR>          __pycache__
2017/12/31  03:28             7,358 171231.ipynb
2018/01/02  00:20            69,238 180101.ipynb
2018/01/03  00:54             3,298 180102.ipynb
2018/01/05  01:07             4,754 180104.ipynb
2018/01/07  03:08             7,566 180106.ipynb
2018/01/15  01:23           132,747 180114.ipynb
2018/02/22  22:37             4,750 180216.ipynb
2018/02/22  22:37             1,849 180218.ipynb
2018/03/04  19:56             4,824 180227.ipynb
2018/03/04  23:08             6,696 180304.ipynb
2018/02/22  22:37            66,344 DataFrame研究.ipynb
2018/01/07  02:05               159 ex1.py
2018/01/07  02:20               324 ex2.py
2018/02/22  22:37    <DIR>          HDFS download
2018/03/04  23:11                20 hello_world.py
2018/02/22  22:37    <DIR>          history
2018/03/04  19:56             4,157 JSON 解析.ipynb
2018/03/04  19:56               258 json_csv_2.csv
2018/02/22  22:37    <DIR>          kennethreitz-requests-ddf7df9
2018/01/01  00:37             1,140 list&set.ipynb
2018/02/22  22:37    <DIR>          Pillow-3.3.1
2018/03/04  19:56               517 status.json
2018/03/04  19:56               516 status.json.bak
2018/03/04  19:56             2,040 study plan.ipynb
2018/02/22  22:37             2,787 transaction_data_v2.txt
2018/02/22  22:37             2,509 transaction_demo
2018/02/22  22:37           130,375 transaction_interval_calculate.ipynb
2018/02/22  22:37            35,357 transaction_interval_calculate_v2.ipynb
2018/02/22  22:37            21,514 transaction_interval_calculate_v3.ipynb
2018/01/07  03:00             2,860 Untitled.ipynb
              27 个文件        514,743 字节
               8 个目录 32,912,166,912 可用字节

In [13]:
run hello_world.py

hello world

In [14]:
import os